/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('image.png');
    background-size: cover;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#resetButton {
    padding: 10px 20px;
    font-size: 1em;
}

.game-message {
    margin-top: 20px;
    font-size: 1.5em;
    background-color: #000;
    color: #e0e0e0;
}

.x-turn {
    background: linear-gradient(to bottom right, #000000, #434343);
    color: #ffffff;
}

.o-turn {
    background: linear-gradient(to bottom right, #ffffff, #e0e0e0);
    color: #000000;
}

.winner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(176, 52, 52, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: inherit 0.5s;
}

.winner-overlay.show {
    display: flex;
    opacity: 1;
}

.winner-message {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
}

#winnerText {
    font-size: 2em;
    margin-bottom: 20px;
}

#closeOverlayButton {
    padding: 20px 50px;
    font-size: 1em;
}
